<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}HBD Bot{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/app.css" />
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <h1>hbd.bot</h1>
                <nav>{% block nav %}{% endblock %}</nav>
            </header>

            <main class="main-content">{% block content %}{% endblock %}</main>
        </div>
    </body>
</html>
